body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.hover-yellow:hover {
  background-color: yellow;
  font-weight: bold;
}
.background-blue {
  background-color: #2874f0;
}
.hover-color-blue:hover {
  color: #2874f0;
}
.color-blue {
  color: #2874f0;
}
.color-green {
  color: rgb(89, 146, 89);
}
.min-height-80 {
  min-height: 80vh;
}
