<div class="row p-5">
  <div class="col-3" *ngFor="let fac of faculties; let i = index">
    <div
      *ngIf="experienced(fac.FacultyExperience)"
      class="card col-md-3 my-2 border-danger"
      style="width: 20rem"
    >
      <img [src]="fac.FacultyImage" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Faculty Name: {{ fac.FacultyName }}</h5>
        <p class="card-text text-danger">{{ fac.FacultyDesignation }}</p>
        <p>Qualification: {{ fac.FacultyEducationQualification }}</p>
        <p class="bg-black text-light">
          Experience: {{ fac.FacultyExperience }}
        </p>
        <p class="bg-danger text-light">
          Working Since {{ fac.FacultyWorkingSince }}
        </p>
      </div>
    </div>
  </div>
</div>
