.dark-pink-color {
  background-color: white;
  color: #4682b4;
}
.border-pink {
  border: 1px solid black;
}
span {
  width: 10vw;
}
.pink-background {
  background-color: #4682b4;
}
.m-center {
  margin-left: 45vw;
}
.height-100 {
  height: 100vh;
}
.background-white {
  background-color: rgb(250, 243, 252);
}
.edit-add-window {
  height: 80vh;
  width: 80vw;
  margin: auto;
  position: relative;
  top: 10vh;
}
.hover-white:hover {
  color: white;
  background-color: #4682b4;
}
