<div class="row">
  <div class="card col-3" *ngFor="let stu of students" width="10%">
    <img [src]="stu.avatar" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ stu.name }}</h5>
      <h5 class="card-text">City:{{ stu.city }}</h5>
      <h5 class="card-text">Department:{{ stu.department }}</h5>
      <h5 class="card-text">Roll No:{{ stu.roll_no }}</h5>
      <a routerLink="/student/:id" class="btn btn-primary">Details</a>
    </div>
  </div>
</div>
